name: CI Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test on ${{ matrix.os }} / Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest]
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -U pip
          pip install .[dev]   # install everything needed for testing

      - name: Run tests
        run: |
          mkdir -p test-reports
          pytest -vv --junitxml=test-reports/results-${{ matrix.os }}-${{ matrix.python-version }}.xml

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: test-reports-${{ matrix.os }}-${{ matrix.python-version }}
          path: test-reports/
